<?xml version="1.0"?>
<!-- NOTE: AspNetForums.dll should always go in the "bin" folder of RobloxWebSite. Every time it is modified, it should always be uploaded there. -->
<configuration>
  <configSections>
    <section name="AspNetForumsSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <AspNetForumsSettings>
    <add key="DataProviderAssemblyPath" value="AspNetForums.dll" />
    <add key="availableSkins" value="default"/>
    <add key="defaultPageSize" value="25"/>
    <add key="forumsDirectory" value="/Forum" />
    <!--add key="connectionString" value="User ID=sa;Initial Catalog=AspNetForums;Data Source=OADEVSERVER;Password=1111" /-->
    <add key="connectionString" value="Data Source=(localdb)\Projects;Initial Catalog=AspNetForums;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
    <add key="defaultDateFormat" value="dd MMM yyyy"/>
    <add key="defaultTimeFormat" value="tt h:mm"/>
    <add key="pathToTransformationFile" value="/transform.txt" />
    <add key="smtpServer" value="default" />
    <add key="allowDuplicatePosts" value="false" />
    <add key="dbTimeZoneOffset" value="-6" />
    <add key="siteName" value="ROBLOX Forum" />
    <add key="DataProviderClassName" value="AspNetForums.Data.SqlDataProvider" />
    <add key="urlWebSite" value="http://www.roblox.com" />
    <add key="urlHome" value="/Default.aspx" />
    <add key="urlShowPost" value="/ShowPost.aspx?PostID=" />
    <add key="urlShowAllUsers" value="/User/ShowAllUsers.aspx" />
    <add key="urlSearch" value="/Search/default.aspx" />
    <add key="urlQuickSearch" value="/Search/default.aspx?searchText=" />
    <add key="urlSearchForPostsByUser" value="/Search/default.aspx?SearchFor=1^SearchText=" />
    <add key="urlRegister" value="/User/CreateUser.aspx" />
    <add key="urlEditUserProfile" value="/User/EditUserProfile.aspx" />
    <add key="urlLogin" value="/login.aspx" />
    <add key="urlAdmin" value="/Admin/default.aspx" />
    <add key="urlAdminEditUser" value="/Admin/EditUser.aspx?Username=" />
    <add key="urlLogout" value="/logout.aspx" />
    <add key="urlShowForum" value="/ShowForum.aspx?ForumID=" />
    <add key="urlShowForumGroup" value="/ShowForumGroup.aspx?ForumGroupID=" />
    <add key="urlShowUserProfile" value="/User/UserProfile.aspx?UserName=" />
    <add key="urlReplyToPost" value="/AddPost.aspx?PostID=" />
    <add key="urlUserEditPost" value="/EditPost.aspx?PostID=" />
    <add key="urlAddNewPost" value="/AddPost.aspx?ForumID=" />
    <add key="urlMyForums" value="/User/MyForums.aspx" />
    <add key="urlChangePassword" value="/User/ChangePassword.aspx" />
    <add key="urlForgotPassword" value="/User/EmailForgottenPassword.aspx" />
    <add key="urlModeration" value="/Moderate/default.aspx" />
    <add key="urlModerateForumPosts" value="/Moderate/ModerateForum.aspx?ForumId=" />
    <add key="urlEditPost" value="/Moderate/EditPost.aspx?PostID=" />
    <add key="urlDeletePost" value="/Moderate/DeletePost.aspx?PostID=" />
    <add key="urlManageForumPosts" value="/Moderate/ManageForum.aspx?ForumId=" />
    <add key="urlMovePost" value="/Moderate/MovePost.aspx?PostID=" />
    <add key="urlModerateThread" value="/Moderate/ModerateThread.aspx?PostId=" />
    <add key="urlEditForum" value="/Admin/EditForum.aspx?ForumID=" />
    <add key="urlCreateForum" value="/Admin/CreateNewForum.aspx" />
    <add key="urlShowForumPostsForAdmin" value="/Admin/ShowPosts.aspx?ForumID=" />
    <add key="urlMessage" value="/Msgs/default.aspx?MessageId=" />
    <add key="urlModerationHistory" value="/Moderate/ModerationHistory.aspx?PostId=" />
  </AspNetForumsSettings>
</configuration>
